; PhoenixSuit wrapper for a complete raw SPI image.

[MAIN_TYPE]
ITEM_COMMON         = "COMMON  "

[SUB_TYPE]
SUBTYPEavaota       = "AVAOTAF1MAINLINE"

[DIR_DEF]
INPUT_DIR = "../"

[FILELIST]
    {filename = "sys_config.fex",     maintype = ITEM_COMMON, subtype = "SYS_CONFIG100000",},
    {filename = "config.fex",         maintype = ITEM_COMMON, subtype = "SYS_CONFIG_BIN00",},
    {filename = "split_xxxx.fex",     maintype = ITEM_COMMON, subtype = "SPLIT_0000000000",},
    {filename = "sys_partition.fex",  maintype = ITEM_COMMON, subtype = "SYS_CONFIG000000",},
    {filename = "sunxi.fex",          maintype = ITEM_COMMON, subtype = "DTB_CONFIG000000",},
    {filename = "full_img.fex",       maintype = "12345678",  subtype = "FULLIMG_00000000",},

[IMAGE_CFG]
version = 0x100234
pid = 0x00001234
vid = 0x00008743
hardwareid = 0x100
firmwareid = 0x100
filelist = FILELIST
imagename = avaota_f1_buildroot_phoenix_spi.img
encrypt = 0
